<!DOCTYPE html>
<html>
    <head>
        <title>My awesome website</title>
        <link rel="stylesheet" href="assets/style.css">
    </head>

    <body>
        <section class="hero">
            <div class="hero-inner">
                <h1>Built your church website</h1>
              <h2>To change contents in a github.com folder called repository host in netlify.com with one click</h2>
            </div>
        </section>
    </body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("assets/home_cn.jpg");
}
</style>
</head>
<body>
</body>
</html> -->

<!-- <!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("assets/home_cn.jpg");
}
</style>
</head>
<body>

<h1>Hello World!</h1>

<p>This page has an image as the background!</p> -->

</body>
</html>
